<%- include("../partials/header.ejs") %>

    <title><%= title %></title>
</head>
<body>

<div class="container container-fluid content">
    <h2><strong>Instructions</strong></h2>

    <div class="form-group">
        <input class="form-control" type="file" id="formFile">
    </div>
</div>

<%- include("../partials/footer.ejs") %>