<%- include("partials/header.ejs") %>

    <title><%= title %></title>
</head>
<body>

<div class="container container-fluid content">
    <img src="https://cdn.jsdelivr.net/gh/importlogic/jsdelivr@main/random-tools/public/images/under-construction.png" style="max-width: 90%;">
</div>

<%- include("partials/footer.ejs") %>