<%- include("partials/header.ejs") %>

    <title><%= title %></title>
</head>
<body>

<div class="container container-fluid content">
    <img src="/images/under-construction.png">
</div>

<%- include("partials/footer.ejs") %>